In [ ]:
import numpy as np

def calculate(list):
    if len(list) < 9:

        raise ValueError ('List must contain nine numbers.')

    else:
        list = np.array(list).reshape(3, 3)

    calculations = {'mean': [np.mean(list,0), np.mean(list,1), np.mean(list)],

    'variance': [np.var(list,0), np.var(list,1), np.var(list)],

    'standard deviation': [np.std(list,0), np.std(list,1), np.std(list)],

    'max': [np.max(list,0), np.max(list,1), np.max(list)],

    'min':[np.min(list,0), np.min(list,1), np.min(list)],

    'sum': [np.sum(list,0), np.sum(list,1), np.sum(list)]

}

    return calculations

In [ ]:
# Example usage
if __name__ == "__main__":
    result = calculate([0, 1, 2, 3, 4, 5, 6, 7, 8])
    print(result)

In [ ]:
import numpy as np

def calculate(lst):
    # Check if the input list has exactly 9 elements
    if len(lst) != 9:
        raise ValueError("List must contain nine numbers.")

    # Convert the list into a 3x3 NumPy array
    matrix = np.array(lst).reshape(3, 3)

    # Calculate the required statistics
    calculations = {
        'mean': [
            np.mean(matrix, axis=0).tolist(),  # Mean of columns
            np.mean(matrix, axis=1).tolist(),  # Mean of rows
            np.mean(matrix).tolist()           # Mean of the flattened matrix
        ],
        'variance': [
            np.var(matrix, axis=0).tolist(),   # Variance of columns
            np.var(matrix, axis=1).tolist(),   # Variance of rows
            np.var(matrix).tolist()            # Variance of the flattened matrix
        ],
        'standard deviation': [
            np.std(matrix, axis=0).tolist(),   # Standard deviation of columns
            np.std(matrix, axis=1).tolist(),   # Standard deviation of rows
            np.std(matrix).tolist()            # Standard deviation of the flattened matrix
        ],
        'max': [
            np.max(matrix, axis=0).tolist(),   # Max of columns
            np.max(matrix, axis=1).tolist(),   # Max of rows
            np.max(matrix).tolist()            # Max of the flattened matrix
        ],
        'min': [
            np.min(matrix, axis=0).tolist(),   # Min of columns
            np.min(matrix, axis=1).tolist(),   # Min of rows
            np.min(matrix).tolist()            # Min of the flattened matrix
        ],
        'sum': [
            np.sum(matrix, axis=0).tolist(),   # Sum of columns
            np.sum(matrix, axis=1).tolist(),   # Sum of rows
            np.sum(matrix).tolist()            # Sum of the flattened matrix
        ]
    }

    return calculations

# Example usage
if __name__ == "__main__":
    result = calculate([0, 1, 2, 3, 4, 5, 6, 7, 8])
    print(result)

Demographic Data Analyzer

In [ ]:
import pandas as pd

adult = pd.read_csv('certificate/adult.csv')

adult

In [ ]:
# Replace '?' with NaN
adult.replace('?', np.nan, inplace=True)

# Drop rows with NaN values
adult.dropna(inplace=True)

print(adult)

In [ ]:
#How many people of each race are represented in this dataset?  
raceP = adult.groupby('race').count()

raceP

In [ ]:
#What is the average age of men?
men_age = adult[adult['sex'] == 'Male']

# Calculate the average age of men
average_age_men = men_age['age'].mean()

print(f"The average age of men is: {average_age_men}")

In [ ]:
#What is the percentage of people who have a Bachelor's degree?
av_bachelors = adult[adult['education'] == 'Bachelors']

# Calculate the number of people with a Bachelor's degree
num_bachelors = len(av_bachelors)

# Calculate the total number of people
total_people = len(adult)

# Calculate the percentage of people with a Bachelor's degree
percentage_bachelors = (num_bachelors / total_people) * 100

print(f"The percentage of people with a Bachelor's degree is: {percentage_bachelors:.2f}%")

In [ ]:
#What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
advanced_education = adult[adult['education'].isin(['Bachelors', 'Masters', 'Doctorate'])] 

advanced_education = advanced_education.loc[(advanced_education['salary'] > '>50')]

# Calculate the number of people with a Bachelor's, Masters, or Doctorate degree
num_education = len(advanced_education)

# Calculate the total number of people
total_population = len(adult)

# Calculate the percentage of people with a Bachelor's, Masters, or Doctorate degree
percentage_total = (num_education / total_population) * 100

print(f"The percentage of people with a salary higher than 50k: {percentage_total:.2f}%")

advanced_education

In [ ]:
#What percentage of people without advanced education make more than 50K?
non_education = adult[~adult['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
not_education = non_education.loc[(non_education['salary'] > '>50')]

numnot_education = len(not_education)

# Calculate the total number of people
total_population = len(adult)

# Calculate the percentage of people with a Bachelor's, Masters, or Doctorate degree
percentage_total = (numnot_education / total_population) * 100

not_education

In [ ]:
#What is the minimum number of hours a person works per week?
minvalue = adult['hours-per-week'].min() 
minvalue

In [ ]:
#What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
# Filter the DataFrame to include only people who work the minimum number of hours per week
min_hours_df = adult[adult['hours-per-week'] == minvalue]

# Calculate the number of people who work the minimum number of hours per week
total_min_hours = len(min_hours_df)

# Calculate the number of people who work the minimum number of hours per week and have a salary of more than 50K
min_hours_high_salary = min_hours_df[min_hours_df['salary'] > '>50']
count_min_hours_high_salary = len(min_hours_high_salary)

# Calculate the percentage
percentage = (count_min_hours_high_salary / total_min_hours) * 100

print(f"The percentage of people who work the minimum number of hours per week and have a salary of more than 50K is {percentage:.2f}%.")

In [ ]:
#What country has the highest percentage of people that earn >50K and what is that percentage?
high_earners_df = adult[adult['salary'] > '>50']

total_people_per_country = adult['native-country'].value_counts()

In [ ]:
# Calculate the number of people earning more than 50K in each country
high_earners_per_country = high_earners_df['native-country'].value_counts()

# Calculate the percentage of high earners in each country
percentage_high_earners_per_country = (high_earners_per_country / total_people_per_country) * 100

# Identify the country with the highest percentage
highest_percentage_country = percentage_high_earners_per_country.idxmax()
highest_percentage = percentage_high_earners_per_country.max()

print(f"The country with the highest percentage of people earning more than 50K is {highest_percentage_country} with {highest_percentage:.2f}%.")

In [ ]:
#Identify the most popular occupation for those who earn >50K in India.
high_earners_india_df = adult[(adult['salary'] > '>50') & (adult['native-country'] == 'India')]

most_popular_occupation = high_earners_india_df['occupation'].mode()[0]

high_earners_india_df

In [4]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [17]:
#Project 3 Medical Data Visualizer
#Import the data from medical_examination.csv and assign it to the df variable

df = pd.read_csv('data/medical_examination.csv')

df = pd.DataFrame(df)

df

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

Add an overweight column to the data. To determine if a person is overweight, first calculate their BMI by dividing their weight in kilograms by the square of their height in meters. If that value is > 25 then the person is overweight. Use the value 0 for NOT overweight and the value 1 for overweight.

In [10]:
# Calculate BMI
df['BMI'] = df['weight'] / df['height'] ** 2

#Create the overweight column in the df variable
df['overweight'] = df['BMI'].apply(lambda x: 1 if x > 25 else 0)

df

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI,overweight
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,0.002197,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,0.003493,0
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,0.002351,0
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,0.002871,0
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,0.002301,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0,0.002693,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1,0.005047,0
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1,0.003135,0
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1,0.002710,0
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0,0.002491,0

Normalize data by making 0 always good and 1 always bad. If the value of cholesterol or gluc is 1, set the value to 0. If the value is more than 1, set the value to 1.

In [18]:
# Normalize the cholesterol and gluc values
df['cholesterol']  = df['cholesterol'].apply(lambda x: 0 if x == 1 else 1)
df['gluc'] = df['gluc'].apply(lambda x: 0 if x == 1 else 1)
df

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,0,0,0,0,1,0
1,1,20228,1,156,85.0,140,90,1,0,0,0,1,1
2,2,18857,1,165,64.0,130,70,1,0,0,0,0,1
3,3,17623,2,169,82.0,150,100,0,0,0,0,1,1
4,4,17474,1,156,56.0,100,60,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,0,0,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,1,1,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,1,0,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,0,1,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,1,0,0,0,1,0

Convert the data into long format and create a chart that shows the value counts of the categorical features using seaborn's catplot(). The dataset should be split by Cardio so there is one chart for each cardio value.